*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: #f3f2f2 !important;
}
.container h1{
  font-size: 25px;
  text-align: center;
  padding: 30px 0;
}
.todo-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 12px 0 rgb(0 0 0 / 50%);
}
.todo-card h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.todo-list ul{
  padding: 0;  
}